<!DOCTYPE html>
<html>
<style>
h1{color:#68838B;
   text-align:center;
   font-family:"Century Gothic";
   font-size:50px;
  }
p{color:#8B6969;
   font-family:"Times New Roman";
   font-size:40px;
   text-align: center;
  }
div{color:#8B6969;
   font-family:"Times New Roman";
   font-size:50px;
   text-align: center;
  }
</style>
<head>
  <title>TimeApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
